<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <title>Kira Ekle</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimal-ui">
    <meta name="description" content="Deveb Yazılım Çözümleri AŞ'nin sunduğu Mülk Takip Uygulaması ile mülklerinizi kolayca takip edebilir, yönetebilir ve raporlayabilirsiniz.">
    <meta name="keywords" content="mülk takip, yazılım çözümleri, Deveb Yazılım, mülk yönetimi, gayrimenkul takip, dijital mülk yönetimi, mülk izleme">
    <meta name="author" content="Deveb Yazılım Çözümleri AŞ">

    <link rel="apple-touch-icon" href="../app-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="https://dveb.com.tr/shared/site/0d1724850172.png">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600" rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="../app-assets/vendors/css/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="../app-assets/vendors/css/forms/wizard/bs-stepper.min.css">
    <link rel="stylesheet" type="text/css" href="../app-assets/vendors/css/forms/select/select2.min.css">
    <!-- END: Vendor CSS-->

    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="../app-assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../app-assets/css/bootstrap-extended.css">
    <link rel="stylesheet" type="text/css" href="../app-assets/css/colors.css">
    <link rel="stylesheet" type="text/css" href="../app-assets/css/components.css">
    <link rel="stylesheet" type="text/css" href="../app-assets/css/themes/dark-layout.css">
    <link rel="stylesheet" type="text/css" href="../app-assets/css/themes/bordered-layout.css">
    <link rel="stylesheet" type="text/css" href="../app-assets/css/themes/semi-dark-layout.css">

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="../app-assets/css/core/menu/menu-types/horizontal-menu.css">
    <link rel="stylesheet" type="text/css" href="../app-assets/css/plugins/forms/form-validation.css">
    <link rel="stylesheet" type="text/css" href="../app-assets/css/plugins/forms/form-wizard.css">
    <!-- END: Page CSS-->

    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    <!-- END: Custom CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="horizontal-layout horizontal-menu  navbar-floating footer-static  " data-open="hover" data-menu="horizontal-menu" data-col="">

    <!-- BEGIN: Header-->
    <nav class="header-navbar navbar-expand-lg navbar navbar-fixed align-items-center justify-content-center navbar-shadow navbar-brand-center" data-nav="brand-center">
        <div class="navbar-container d-flex content container-xxl">
            <div class="bookmark-wrapper d-flex align-items-center">
                <ul class="nav navbar-nav d-xl-none">
                    <li class="nav-item"><a class="nav-link menu-toggle" href="#"><i class="ficon" data-feather="menu"></i></a></li>
                </ul>
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="navbar-brand" href="dashboard.html">
                            <img width="100" src="app-assets/images/logo.svg" alt="">
                        </a>
                    </li>
                </ul>
            </div>
            
            <!-- Add the dropdown here for right alignment -->
            <ul class="nav navbar-nav ms-auto">
                
                <li class="dropdown nav-item" data-menu="dropdown">
                    
                    <a class="dropdown-toggle nav-link d-flex align-items-center user" href="#" data-bs-toggle="dropdown">
                        <i class="fa-solid fa-user" style="padding-right: 0.75rem;"></i>
                        <span id="user-name" class="" data-i18n="User Interface" style="font-size: 16px; padding-right: 0.75rem;">Berfin Kale</span>
                        <i class="fa-solid fa-angle-down"></i>
                    </a>
                    
                    <ul class="dropdown-menu" data-bs-popper="none">
                    
                        <li data-menu="">
                            <a class="dropdown-item d-flex align-items-center" href="login.html">
                                <span data-i18n="Typography" style="padding-right: 0.75rem;">Çıkış</span>
                                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                            </a>
                        </li>
                        
                        
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <!-- END: Header-->


    <!-- BEGIN: Main Menu-->
    <div class="horizontal-menu-wrapper">
        <div class="header-navbar navbar-expand-sm navbar navbar-horizontal floating-nav navbar-light navbar-shadow menu-border" role="navigation" data-menu="menu-wrapper" data-menu-type="floating-nav">
            <div class="navbar-header container-xxl">
                <ul class="nav navbar-nav flex-row">
                    <li class="nav-item me-auto"><a class="navbar-brand" href="../../../html/ltr/horizontal-menu-template/index.html"><span class="brand-logo">
                                <svg viewbox="0 0 139 95" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="24">
                                    <defs>
                                        <lineargradient id="linearGradient-1" x1="100%" y1="10.5120544%" x2="50%" y2="89.4879456%">
                                            <stop stop-color="#000000" offset="0%"></stop>
                                            <stop stop-color="#FFFFFF" offset="100%"></stop>
                                        </lineargradient>
                                        <lineargradient id="linearGradient-2" x1="64.0437835%" y1="46.3276743%" x2="37.373316%" y2="100%">
                                            <stop stop-color="#EEEEEE" stop-opacity="0" offset="0%"></stop>
                                            <stop stop-color="#FFFFFF" offset="100%"></stop>
                                        </lineargradient>
                                    </defs>
                                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="Artboard" transform="translate(-400.000000, -178.000000)">
                                            <g id="Group" transform="translate(400.000000, 178.000000)">
                                                <path class="text-primary" id="Path" d="M-5.68434189e-14,2.84217094e-14 L39.1816085,2.84217094e-14 L69.3453773,32.2519224 L101.428699,2.84217094e-14 L138.784583,2.84217094e-14 L138.784199,29.8015838 C137.958931,37.3510206 135.784352,42.5567762 132.260463,45.4188507 C128.736573,48.2809251 112.33867,64.5239941 83.0667527,94.1480575 L56.2750821,94.1480575 L6.71554594,44.4188507 C2.46876683,39.9813776 0.345377275,35.1089553 0.345377275,29.8015838 C0.345377275,24.4942122 0.230251516,14.560351 -5.68434189e-14,2.84217094e-14 Z" style="fill:currentColor"></path>
                                                <path id="Path1" d="M69.3453773,32.2519224 L101.428699,1.42108547e-14 L138.784583,1.42108547e-14 L138.784199,29.8015838 C137.958931,37.3510206 135.784352,42.5567762 132.260463,45.4188507 C128.736573,48.2809251 112.33867,64.5239941 83.0667527,94.1480575 L56.2750821,94.1480575 L32.8435758,70.5039241 L69.3453773,32.2519224 Z" fill="url(#linearGradient-1)" opacity="0.2"></path>
                                                <polygon id="Path-2" fill="#000000" opacity="0.049999997" points="69.3922914 32.4202615 32.8435758 70.5039241 54.0490008 16.1851325"></polygon>
                                                <polygon id="Path-21" fill="#000000" opacity="0.099999994" points="69.3922914 32.4202615 32.8435758 70.5039241 58.3683556 20.7402338"></polygon>
                                                <polygon id="Path-3" fill="url(#linearGradient-2)" opacity="0.099999994" points="101.428699 0 83.0667527 94.1480575 130.378721 47.0740288"></polygon>
                                            </g>
                                        </g>
                                    </g>
                                </svg></span>
                            <h2 class="brand-text mb-0">Vuexy</h2>
                        </a></li>
                    <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pe-0" data-bs-toggle="collapse"><i class="d-block d-xl-none text-primary toggle-icon font-medium-4" data-feather="x"></i></a></li>
                </ul>
            </div>
            <div class="shadow-bottom"></div>
            <!-- Horizontal menu content-->
            <div class="navbar-container main-menu-content  container-xxl" data-menu="menu-container">
                <!-- include ../../../includes/mixins-->
                <ul class="nav navbar-nav" id="main-menu-navigation" data-menu="menu-navigation">
                    <li class="dropdown nav-item" data-menu="dropdown"><a class="dropdown-toggle nav-link d-flex align-items-center" href="index.html" data-bs-toggle="dropdown"><i data-feather="home"></i><span data-i18n="Dashboards">Genel</span></a>
                        <ul class="dropdown-menu" data-bs-popper="none">
                            <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="dashboard.html" data-bs-toggle="" data-i18n="Analytics"><i data-feather="activity"></i><span data-i18n="Ana Sayfa">Ana Sayfa</span></a>
                            </li>
                      
                        </ul>
                    </li>

                    <li class="dropdown nav-item" data-menu="dropdown"><a class="dropdown-toggle nav-link d-flex align-items-center" href="#" data-bs-toggle="dropdown"><i data-feather="layers"></i><span data-i18n="User Interface">Mülk Sahipleri</span></a>
                        <ul class="dropdown-menu" data-bs-popper="none">
                            <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="list-customer.html" data-bs-toggle="" data-i18n=""><span data-i18n="Typography">Mülk Sahipleri Listesi</span></a>
                            </li>
                            <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="add-customer.html" data-bs-toggle="" data-i18n=""><span data-i18n="Typography">Mülk Sahibi Ekle</span></a>
                            </li>
                          
                        </ul>
                    </li>
                    <li class="dropdown nav-item" data-menu="dropdown"><a class="dropdown-toggle nav-link d-flex align-items-center" href="#" data-bs-toggle="dropdown"><i data-feather="edit"></i><span data-i18n="Forms &amp; Tables">Kiracılar</span></a>
                        <ul class="dropdown-menu" data-bs-popper="none">
                            <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="list-tenant.html" data-bs-toggle="" data-i18n=""><span data-i18n="Typography">Kiracılar Listesi</span></a>
                            </li>
                            <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="add-tenant.html" data-bs-toggle="" data-i18n=""><span data-i18n="Typography">Kiracı Ekle</span></a>
                            </li>
                          
                        </ul>
                    </li>
                    <li class="dropdown nav-item" data-menu="dropdown"><a class="dropdown-toggle nav-link d-flex align-items-center" href="#" data-bs-toggle="dropdown"><i data-feather="file-text"></i><span data-i18n="Pages">Mülkler</span></a>
                        <ul class="dropdown-menu" data-bs-popper="none">
                            <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="list-property.html" data-bs-toggle="" data-i18n=""><span data-i18n="Typography">Mülkler Listesi</span></a>
                            </li>
                            <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="add-property.html" data-bs-toggle="" data-i18n=""><span data-i18n="Typography">Mülk Ekle</span></a>
                            </li>
                          
                        </ul>
                    </li>
                    <li class="dropdown nav-item active" data-menu="dropdown"><a class="dropdown-toggle nav-link d-flex align-items-center" href="#" data-bs-toggle="dropdown"><i data-feather="file-text"></i><span data-i18n="Pages">Kiralar</span></a>
                        <ul class="dropdown-menu" data-bs-popper="none">
                            <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="list-rent.html" data-bs-toggle="" data-i18n=""><span data-i18n="Typography"> Kira Listesi</span></a>
                            </li>
                            <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="add-rent.html" data-bs-toggle="" data-i18n=""><span data-i18n="Typography">Kira Ekle</span></a>
                            </li>
                          
                        </ul>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>
    <!-- END: Main Menu-->




    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper container-xxl p-0">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                  
                    </div>
                </div>
               
            </div>







            <div class="content-body">
                <section class="modern-horizontal-wizard">
                    <div class="bs-stepper wizard-modern modern-wizard-example">
                        <div class="bs-stepper-header" role="tablist">
                            <div class="step" data-target="#portfoy-details" role="tab" id="portfoy-details-trigger">
                                <button type="button" class="step-trigger">
                                    <span class="bs-stepper-box">1</span>
                                    <span class="bs-stepper-label">
                                        <span class="bs-stepper-title">Portföy Bilgileri</span>
                                        <span class="bs-stepper-subtitle">Portföy Bilgiler</span>
                                    </span>
                                </button>
                            </div>
                            <div class="line">
                                <i data-feather="chevron-right" class="font-medium-2"></i>
                            </div>
                            <div class="step" data-target="#kiracı-info" role="tab" id="kiraci-info-trigger">
                                <button type="button" class="step-trigger">
                                    <span class="bs-stepper-box">2</span>
                                    <span class="bs-stepper-label">
                                        <span class="bs-stepper-title">Kiracı Bilgileri</span>
                                        <span class="bs-stepper-subtitle">Kiracı Bilgileri </span>
                                    </span>
                                </button>
                            </div>
                            <div class="line">
                                <i data-feather="chevron-right" class="font-medium-2"></i>
                            </div>
                            <div class="step" data-target="#sozlesme-step" role="tab" id="sozlesme-step-trigger">
                                <button type="button" class="step-trigger">
                                    <span class="bs-stepper-box">3</span>
                                    <span class="bs-stepper-label">
                                        <span class="bs-stepper-title">Sözleşme Bilgileri</span>
                                        <span class="bs-stepper-subtitle">Sözleşme Bilgileri </span>
                                    </span>
                                </button>
                            </div>
                            <div class="line">
                                <i data-feather="chevron-right" class="font-medium-2"></i>
                            </div>
                            <div class="step" data-target="#kira-links" role="tab" id="kira-links-trigger">
                                <button type="button" class="step-trigger">
                                    <span class="bs-stepper-box">4</span>
                                    <span class="bs-stepper-label">
                                        <span class="bs-stepper-title">Kira Bilgileri</span>
                                        <span class="bs-stepper-subtitle">Kira Bilgileri </span>
                                    </span>
                                </button>
                            </div>
                            <div class="line">
                                <i data-feather="chevron-right" class="font-medium-2"></i>
                            </div>
                            <div class="step" data-target="#aidat-links" role="tab" id="aidat-links-trigger">
                                <button type="button" class="step-trigger">
                                    <span class="bs-stepper-box">5</span>
                                    <span class="bs-stepper-label">
                                        <span class="bs-stepper-title">Aidat Bilgileri</span>
                                        <span class="bs-stepper-subtitle">Aidat Bilgileri </span>
                                    </span>
                                </button>
                            </div>
                          
                        
                    
                         
                        </div>

                        <div class="bs-stepper-content">
                            <div id="portfoy-details" class="content" role="tabpanel" aria-labelledby="portfoy-details-trigger">
                                <div class="content-header">
                                    <h5 class="mb-0">Genel Bilgiler</h5>
                                    <small class="text-muted">Genel Bilgileri Gir</small>
                                </div>
                                <form id="portfoy-form">
                                    <div class="row">
                                       
                                        <div class="mb-1 col-md-4">
                                            <label class="form-label" for="portfolioId">Portfolyo</label>
                                            <select class="select2 w-100" name="portfolioId" id="portfolioId" required>
                                                <option value="">Seçiniz</option>
                                                <option value="a">a</option>
                                              
                                            </select>
                                        </div>
                                        <div class="mb-1 col-md-6">
                                            <label class="form-label" for="propertyId">Mülk</label>
                                            <select class="select2 w-100" name="propertyId" id="propertyId">
                                                <option label=" ">Seç</option>
                                                
                                              
                                            </select>
                                        </div>
                                    </div>
                               
                                </form>
                                <div class="d-flex justify-content-between">
                                    <button class="btn btn-outline-secondary btn-prev" disabled>
                                        <i data-feather="arrow-left" class="align-middle me-sm-25 me-0"></i>
                                        <span class="align-middle d-sm-inline-block d-none">Geri</span>
                                    </button>
                                    <button class="btn btn-primary btn-next">
                                        <span class="align-middle d-sm-inline-block d-none">İleri</span>
                                        <i data-feather="arrow-right" class="align-middle ms-sm-25 ms-0"></i>
                                    </button>
                                </div>
                            </div>
                            <div id="kiracı-info" class="content" role="tabpanel" aria-labelledby="kiraci-info-trigger">
                                <div class="content-header">
                                    <h5 class="mb-0">Kiracı Bilgileri</h5>
                                    <small>Kiracı Bilgileri</small>
                                </div>
                                <form id="kiracı-form">
                                    <div class="row">
                                        <div class="mb-1 col-md-4">
                                            <label class="form-label" for="tenantId">Kiracı Adı</label>
                                            <select class="select2 w-100" name="tenantId" id="tenantId">
                                                <option label=" ">Seç</option>
                                                
                                              
                                            </select>
                                        </div>
                                        <div class="mb-1 col-md-4">
                                            <label class="form-label" for="contractType">Kontrat Tipi </label>
                                            <input type="text" name="contractType" id="contractType" class="form-control" placeholder="" />
                                        </div>
                                        <div class="mb-1 col-md-4">
                                            <label class="form-label" for="currentCode">Cari Kodu</label>
                                            <input type="text" name="currentCode" id="currentCode" class="form-control" placeholder="" />
                                        </div>
                                    </div>
                             
                                  
                                </form>
                                <div class="d-flex justify-content-between">
                                    <button class="btn btn-primary btn-prev">
                                        <i data-feather="arrow-left" class="align-middle me-sm-25 me-0"></i>
                                        <span class="align-middle d-sm-inline-block d-none">Geri</span>
                                    </button>
                                    <button class="btn btn-primary btn-next">
                                        <span class="align-middle d-sm-inline-block d-none">İleri</span>
                                        <i data-feather="arrow-right" class="align-middle ms-sm-25 ms-0"></i>
                                    </button>
                                </div>
                            </div>
                            <div id="sozlesme-step" class="content" role="tabpanel" aria-labelledby="sozlesme-step-trigger">
                                <div class="content-header">
                                    <h5 class="mb-0">Sözleşme Bilgileri</h5>
                                    <small>Sözleşme Bilgileri Gir</small>
                                </div>
                                <form id="sozlesme-form">
                                    <div class="row">
                                        <div class="mb-1 col-md-6">
                                            <label class="form-label" for="contractStartDate">Sözleşme Başlangıç Tarihi</label>
                                            <input type="date" id="contractStartDate" name="contractStartDate" class="form-control" placeholder="" />
                                        </div>
                                        <div class="mb-1 col-md-6">
                                            <label class="form-label" for="contractEndDate">Sözleşme Bitiş Tarihi</label>
                                            <input type="date" name="contractEndDate" id="contractEndDate" class="form-control" placeholder="" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="mb-1 col-md-6">
                                            <label class="form-label" for="startingRentAmount">Kira Başlangıç Tarihi</label>
                                            <input type="date" id="startingRentAmount" name="startingRentAmount" class="form-control" placeholder="" />
                                        </div>
                                        <div class="mb-1 col-md-6">
                                            <label class="form-label" for="tenanttype">Kiracı Türü</label>
                                            <select id="tenanttype" name="tenanttype" class="form-control">
                                                <option value="">Seçiniz</option>
                                                <option value="isyeri">İşyeri</option>
                                                <option value="sahis">Şahıs</option>
                                            </select>
                                        </div>
                                      
                                    </div>
                                    <div class="row">
                                        <div class="mb-1 col-md-6">
                                            <label class="form-label" for="noticeoftermination">Fesih Bildirimi</label>
                                            <input type="date" id="noticeoftermination" name="noticeoftermination" class="form-control" placeholder="" />
                                        </div>
                                        <div class="mb-1 col-md-6">
                                            <label class="form-label" for="evacuationcommitment">Tahliye Taahhütnamesi</label>
                                            <select id="evacuationcommitment" name="evacuationcommitment" class="form-control">
                                                <option value="">Seçiniz</option>
                                                <option value="var">Var</option>
                                                <option value="yok">Yok</option>
                                            </select>
                                        </div>
                                      
                                    </div>
                          
                                </form>
                                <div class="d-flex justify-content-between">
                                    <button class="btn btn-primary btn-prev">
                                        <i data-feather="arrow-left" class="align-middle me-sm-25 me-0"></i>
                                        <span class="align-middle d-sm-inline-block d-none">Geri</span>
                                    </button>
                                    <button class="btn btn-primary btn-next">
                                        <span class="align-middle d-sm-inline-block d-none">İleri</span>
                                        <i data-feather="arrow-right" class="align-middle ms-sm-25 ms-0"></i>
                                    </button>
                                </div>
                            </div>

                            <div id="kira-links" class="content" role="tabpanel" aria-labelledby="kira-links-trigger">
                                <div class="content-header">
                                    <h5 class="mb-0">Kira Bilgileri</h5>
                                    <small>Kira Bilgileri Gir</small>
                                </div>
                                <form id="kira-form">
                                    <div class="row">
                                        <div class="mb-1 col-md-6">
                                            <label class="form-label" for="rentalfee">Kira Bedeli</label>
                                            <input type="text" id="rentalfee" name="rentalfee" class="form-control" placeholder="" />
                                        </div>
                                        <div class="mb-1 col-md-6">
                                            <label class="form-label" for="paymentDay">Ödeme Günü</label>
                                            <input type="text" id="paymentDay" name="paymentDay" class="form-control" placeholder="" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="mb-1 col-md-6">
                                            <label class="form-label" for="rentType">Türü</label>
                                            <input type="text" id="rentType"  name="rentType" class="form-control" placeholder="" />
                                        </div>
                                        <div class="mb-1 col-md-6">
                                            <label class="form-label" for="rentIncreaseType">Kira Artış Günü</label>
                                            <input type="date" id="rentIncreaseType"  name="rentIncreaseType" class="form-control" placeholder="" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="mb-1 col-md-6">
                                            <label class="form-label" for="depositAmount">Depozito Tutarı </label>
                                            <input type="text" id="depositAmount"  name="depositAmount" class="form-control" placeholder="" />
                                        </div>
                                      
                                    </div>
                                  
                                </form>
                                <div class="d-flex justify-content-between">
                                    <button class="btn btn-primary btn-prev">
                                        <i data-feather="arrow-left" class="align-middle me-sm-25 me-0"></i>
                                        <span class="align-middle d-sm-inline-block d-none">Geri</span>
                                    </button>
                                    <button class="btn btn-primary btn-next">
                                        <span class="align-middle d-sm-inline-block d-none">İleri</span>
                                        <i data-feather="arrow-right" class="align-middle ms-sm-25 ms-0"></i>
                                    </button>
                                </div>
                                <!-- <div class="d-flex justify-content-between">
                                    <button class="btn btn-primary btn-prev">
                                        <i data-feather="arrow-left" class="align-middle me-sm-25 me-0"></i>
                                        <span class="align-middle d-sm-inline-block d-none">Previous</span>
                                    </button>
                                    <button class="btn btn-success btn-submit">Submit</button>
                                </div> -->
                            </div>



                            <div id="aidat-links" class="content" role="tabpanel" aria-labelledby="aidat-links-trigger">
                                <div class="content-header">
                                    <h5 class="mb-0">Aidat Bilgileri</h5>
                                    <small>Aidat Bilgileri Gir</small>
                                </div>
                                <form id="aidat-form">
                                    <div class="row">
                                        <div class="mb-1 col-md-6">
                                            <label class="form-label" for="maintenanceFee">Aidat</label>
                                            <input type="text" id="maintenanceFee" name="maintenanceFee" class="form-control" placeholder="" />
                                        </div>
                                        <div class="mb-1 col-md-6">
                                            <label class="form-label" for="maintenanceStartDate">Aidat Başlangıc Tarihi</label>
                                            <input type="date" id="maintenanceStartDate" name="maintenanceStartDate" class="form-control" placeholder="" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="mb-1 col-md-6">
                                            <label class="form-label" for="maintenanceFeeAmount">Aidat Tutarı</label>
                                            <input type="text" id="maintenanceFeeAmount" name="maintenanceFeeAmount" class="form-control" placeholder="" />
                                        </div> 
                                       
                                    </div>
                                    
                                </form>
                                <div class="d-flex justify-content-between">
                                    <button class="btn btn-primary btn-prev">
                                        <i data-feather="arrow-left" class="align-middle me-sm-25 me-0"></i>
                                        <span class="align-middle d-sm-inline-block d-none">Geri</span>
                                    </button>
                                    <button class="btn btn-success btn-submit-all">Kaydet</button>
                                </div>
                                <!-- <div class="d-flex justify-content-between">
                                    <button class="btn btn-primary btn-prev">
                                        <i data-feather="arrow-left" class="align-middle me-sm-25 me-0"></i>
                                        <span class="align-middle d-sm-inline-block d-none">Previous</span>
                                    </button>
                                    <button class="btn btn-success btn-submit">Submit</button>
                                </div> -->
                            </div>
                           
                        


                        </div>
                    </div>
                </section>
         


            </div>
        </div>
    </div>
    <!-- END: Content-->

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <!-- BEGIN: Footer-->
    <footer class="footer footer-static footer-light">
        <p class="clearfix mb-0"><span class="float-md-start d-block d-md-inline-block mt-25">COPYRIGHT &copy; 2024<a class="ms-25" href="https://dveb.com.tr/" target="_blank">DveB</a><span class="d-none d-sm-inline-block">, Tüm Haklar Saklıdır.</span></span></p>
    </footer>
    <button class="btn btn-primary btn-icon scroll-top" type="button"><i data-feather="arrow-up"></i></button>
    <!-- END: Footer-->


    <!-- BEGIN: Vendor JS-->
    <script src="../../../app-assets/vendors/js/vendors.min.js"></script>
    <!-- BEGIN Vendor JS-->

    <!-- BEGIN: Page Vendor JS-->
    <script src="../../../app-assets/vendors/js/ui/jquery.sticky.js"></script>
    <script src="../../../app-assets/vendors/js/forms/wizard/bs-stepper.min.js"></script>
    <script src="../../../app-assets/vendors/js/forms/select/select2.full.min.js"></script>
    <script src="../../../app-assets/vendors/js/forms/validation/jquery.validate.min.js"></script>
    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Theme JS-->
    <script src="../../../app-assets/js/core/app-menu.js"></script>
    <script src="../../../app-assets/js/core/app.js"></script>
    <!-- END: Theme JS-->

    <!-- BEGIN: Page JS-->
    <script src="../../../app-assets/js/scripts/forms/form-wizard.js"></script>
    <!-- END: Page JS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <!-- SweetAlert2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
    <script src="./axios/add-rent.js"></script>
    <!-- END: Page JS-->

    <script>
        $(window).on('load', function() {
            if (feather) {
                feather.replace({
                    width: 14,
                    height: 14
                });
            }
        })
    </script>
</body>
<!-- END: Body-->

</html>